.titulo {
    margin-top: 1%;
    text-align: center;
    padding: 1%;
}
.buttons{
    background-color: lightblue;
    padding: 1%;
    margin: 0 8% 0 17%;
}

form {
    margin-top: 3%;
}

.btn.btn-primary.novo {
    margin-left: 20%;
}

.btn.btn-primary.alterar {
    margin-left: 10%;
}

.btn.btn-primary.excluir {
    margin-left: 10%;
}

.btn.btn-primary.procurar {
    margin-left: 10%;
}

